.imageandbubble-section1 {
  margin-top: 40vh;
  width: 100vw;
}
.imageandbubble-bubble3 {
  position: relative;
  width: 300px;
  left: calc(50% - 537px);
}
.imageandbubble-image {
  position: relative;
  width: 250px;
  left: calc(50% - 125px);
}
.imageandbubble-section2 {
  margin-top: 40vh;
  width: 100vw;
}
.imageandbubble-bubble4 {
  position: relative;
  width: 300px;
  left: calc(50% + 250px);
  margin-bottom: 80px;
}
.imageandbubble-image1 {
  position: relative;
  width: 900px;
  left: calc(50% - 450px);
}

.imageandbubble-bubble5 {
  position: relative;
  width: 300px;
  left: calc(50% - 600px);
  margin-top: -100px;
  margin-bottom: 80px;
}

.imageandbubble-section3 {
  margin-top: 40vh;
  width: 100vw;
}

.imageandbubble-image2 {
  position: relative;
  width: 900px;
  left: calc(50% - 300px);
}

.imageandbubble-bubble6 {
  position: relative;
  width: 200px;
  left: calc(50% + 150px);
  margin-top: -50px;
}

.imageandbubble-image3 {
  margin-top: -30px;
  position: relative;
  width: 500px;
  left: calc(50% - 600px);
}
.imageandbubble-image4 {
  position: relative;
  width: 700px;
  left: calc(50% - 200px);
  margin-top: -50px;
}

.imageandbubble-bubble7 {
  position: relative;
  width: 200px;
  left: calc(50% + 150px);
}

.imageandbubble-image5 {
  margin-top: -20px;
  position: relative;
  width: 50%;
  left: 0px;
  z-index: 2;
}
.imageandbubble-image6 {
  position: relative;
  width: 700px;
  left: calc(50% - 80px);
  margin-top: -150px;
}

.imageandbubble-bubble8 {
  position: relative;
  width: 200px;
  left: calc(50% + 250px);
}

.imageandbubble-image7 {
  position: relative;
  margin-top: -120px;
  width: 600px;
  left: calc(50% - 600px);
}
.imageandbubble-image8 {
  position: relative;
  margin-top: -200px;
  width: 600px;
  left: calc(50% - 100px);
}
.imageandbubble-bubble9 {
  position: relative;
  width: 300px;
  left: calc(50% - 550px);
  margin-top: -170px;
}
.imageandbubble-bubble10 {
  position: relative;
  width: 250px;
  left: calc(50% - 125px);
  margin-top: 300px;
}
.imageandbubble-text {
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 800px;
  text-align: center;
  position: relative;
  font-size: 36px;
  font-family: Bangers;
  color: #151515;
}
